<%= form_for(@controlpersona) do |f| %>
  <% if @controlpersona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controlpersona.errors.count, "error") %> prohibited this controlpersona from being saved:</h2>

      <ul>
      <% @controlpersona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numerodocumento %><br />
    <%= f.text_field :numerodocumento %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.number_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
