<%= form_for(@respuesta) do |f| %>
  <% if @respuesta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respuesta.errors.count, "error") %> prohibited this respuesta from being saved:</h2>

      <ul>
      <% @respuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_id %><br />
    <%= f.number_field :survey_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :respuesta %><br />
    <%= f.number_field :respuesta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
